body {
    background-color: #ffffff;
}
/* Style the header with a grey background and some padding */
  .nav {
    overflow: hidden;
    background-color: #F9FBF9;
    padding-top: 0x;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0x;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-right: 100px;
    margin-left: 100px;
  }
  



  /* Style the header links */
  .nav-links a {
    color: #141F16;
    text-align: center;
    text-decoration: none;
    line-height: normal;
    border-radius: 4px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 16px;
    font: 16px inter, sans-serif;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .nav a.logo {
    font-size: 25px;
    font-weight: bold;
   
  }
  
  /* Change the background color on mouse-over */
  .nav a:hover {
    text-decoration: underline;
    color: #141F16;
  }
  
  /* Style the active/current link*/
  .nav a.active {
    text-decoration: underline;
    color: #141F16;
  }
  
  /* Float the link section to the right */
  .nav-links {
    float: right;
    padding-top: 21px;
    padding-right: 4px;
    padding-bottom: 21px;
    padding-left: 0px;
  }
  
 

/*Hero Image*/
  /*Section height*/
  .heroImg {
    height: 600px;
    padding: 0px;
    margin: 0px 100px;
  }

  /*Content*/
  .content {
    margin: 0px;
    display: flex;
    justify-content: space-between;
  }

  .content-left {
    padding: 32px 0px;
    display: inline-block;
  }

  .content-left .heading {
    font: 60px inter, sans-serif;
  }

 .content-left .about-me {
    font: 16px inter, sans-serif;
    width: 70%;
    line-height: 1.6;
  }

  .content-right {
    padding: 32px 0px;
    display: inline-block;
  }

  .content-right
    width: 70%;
  }


/*Skills*/
  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    /* padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px; */
    margin-top: 32px;
    margin-bottom: 32px;
    margin-right: 100px;
    margin-left: 100px; 
    text-align: center;
  }

  .flex-container h4 {
    font: 24px inter, sans-serif;
    font-weight: 600;
    color: #3A5A40;
  }

  .flex-container p {
    font: 16px inter, sans-serif;
  }

  .flex-skill1:nth-child(1) {
    display: block;
    flex: 1;
    /* flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto; */
    align-self: auto;
    order: 0;
    border: 1px solid black;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    /* margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 24px;
    margin-left: 24px; */
  }

  .flex-skill2:nth-child(2) {
    display: block;
    flex: 1;
    /* flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto; */
    align-self: auto;
    order: 0;
    border: 1px solid black;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    /* margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 24px;
    margin-left: 24px; */
  }

  .flex-skill3:nth-child(3) {
    display: block;
    flex: 1;
    /* flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto; */
    align-self: auto;
    order: 0;
    border: 1px solid black;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    /* margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 24px;
    margin-left: 24px; */
  }

/*Work*/
  .cs-container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 32px 24px;
    grid-auto-flow: row;
    grid-template-areas:
      "cs1-img cs1-img cs1-info"
      "cs2-img cs2-img cs2-info"
      "cs3-img cs3-img cs3-info";
    margin-top: 32px;
    margin-bottom: 32px;
    margin-right: 100px;
    margin-left: 100px;
  }

  .cs1-img { grid-area: cs1-img; 
  }

  .cs1-info { grid-area: cs1-info; 
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    line-height: 1.6;
  }

  .cs2-img { grid-area: cs2-img; 
  }

  .cs2-info { grid-area: cs2-info; 
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    line-height: 1.6;
  }

  .cs3-img { grid-area: cs3-img; 
  }

  .cs3-info { grid-area: cs3-info; 
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    line-height: 1.6;
  }

  .cs-container h3 {
    font: 32px inter, sans-serif;
    font-weight: 600;
    color: #3A5A40;
  }

  .cs-container h4 {
    font: 24px inter, sans-serif;
  }

  .cs-container p {
    font: 16px inter, sans-serif;
  }

/*Footer*/
  footer {
    background-color: #141F16;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 100px;
    margin-left: 100px;

    padding-top: 16px;
    padding-right: 0px;
    padding-bottom: 16px;
    padding-left: 0px;
  }

  footer ul {
    list-style: none;
    padding-left: 4px;
  }

  footer li {
    display: inline-block;
    padding-top: 0px;
    padding-right: 16px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  footer li a {
    font: 12px inter, sans-serif;
    color: #F9FBF9;
  }
  
 /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
 @media screen and (max-width: 500px) {
  .nav a {
    float: none;
    display: block;
    text-align: left;
  }
  .nav-links {
    float: none;
  }
  .heroImg {
    height: auto;
    padding: 0px;
    margin: 0px 100px;
  }
  .content {
    margin: 0px;
    display: block;
    justify-content: space-between;
  }


  .flex-container {
    display: flex;
    flex-direction: column;
  }
}

  